importFrom(png, readPNG)
importFrom(tiff, readTIFF)
importFrom(pastecs, turnpoints)

## Export regular function names
export(ringWidths,ringDetect,multiDetect,linearDetect,grayDarker,dataSegments,ringSelect,imageTogray,ringBorders,plotSegments,colNarrow,lagIngray,graySmoothed)
