importFrom(tiff, readTIFF)
importFrom(zoo, rollapply)
importFrom(pastecs, turnpoints)
exportPattern("^[[:alpha:]]+")
export(ringDetect)
export(ringSelect)
export(imageTogray)
export(lagIngray)
export(graySmoothed)
export(grayDarker)
export(linearDetect)
export(pixelTypes)
export(ringWidths)
export(plotSegments)
